/*
p5.js Sketch as Background
https://www.youtube.com/watch?v=OIfEHD3KqCg
*/

/* BASE 
	-------------------------------- */
html,
body {

    margin: 0px;
    padding: 0px;
}

canvas {
    margin: 0px;
    display: block;
}

::selection,
::moz-selection {}

.wrapper {}


/* HEADER
	-------------------------------- */
.site-header {}


/* FOOTER
	-------------------------------- */
.site-footer {}


/* CONTENT
	-------------------------------- */
.site-content {}

/* LAYOUT */

/* BASIC ELEMENTS */
div {}

p {
    font-size: 1vw;
}

blockquote {}

code {}

img {}

/* LINKS
	-------------------------------- */
/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
    'Roboto',
    Sans-Serif;
}

/* mouse over link */
a:hover {
    color: hotpink;
    font-family: Comic sans-serif;
}

/* selected link */
a:active {
    color: blue;
}


em {}

strong {}

pre {}

/* HEADINGS */

h1 {
    font-size: 4vw;
    Font-Family: 'Roboto', Sans-Serif;


}

h2 {
    font-size: 2vw;
    Font-Family: 'Roboto', Sans-Serif;

}

/* FORMS & BUTTONS */
form {}

fieldset {}

legend {}

label {}

input {}

textarea {}

select {}

/* TABLES */
table {}

caption {}

tr {}

thead {}

th {}

tbody {}

td {}

tfoot {}

/* LISTS */
dl {}

dt {}

dd {}

ol {}

ol li {}

ul {}

ul li {}

/* … */
